#block-search,
#block-search * {
    box-sizing: border-box;
}

#block-search {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background: linear-gradient(
            180deg,
            rgba(43, 65, 54, 0.8) -22.58%,
            rgba(85, 113, 99, 0.8) 100%
    );
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.be-container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}

.sf-wrapper {
    background: rgb(26, 51, 40);
}

.fixed.bottom-6 {
    bottom: 120px;
}

footer {
    padding-bottom: 103px;
}

@media screen and (max-width: 1280px) {
    header nav {
        column-gap: 12px;
    }

    header nav a {
        font-size: 11px;
    }

    .booking-link {
        font-size: 12px;
        padding: 10px;
    }
}

@media screen and (max-width: 1200px) {
    #block-search {
        position: static;
        padding: 10px 0;
        margin: 0 auto;
        width: calc(100% - 30px);
        background: linear-gradient(180deg, #2b4136 -22.58%, #557163 100%);
        border-radius: 20px;
    }

    .fixed.bottom-6 {
        bottom: calc(var(--spacing) * 6);
    }

    footer {
        padding-bottom: 0;
    }
}